@{
    ViewBag.Title = "About";
}
    <div>
        @{
            Html.RenderPartial("_TopNavBar");
        }
    </div>

    <div class="about-container">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>HDFC Bank Ltd is one of India's premier banks. Headquartered in Mumbai, HDFC Bank is a new generation private sector bank providing a wide range of banking services covering commercial and investment banking on the wholesale side and transactional/branch banking on the retail side.</p>
        <p>As of 30 September 2017, the bank's distribution network was at 4,729 branches and 12,259 ATMs across 2,669 cities and towns. HDFC Bank also has one overseas wholesale banking branch in Bahrain, a branch in Hong Kong and two representative offices in UAE and Kenya. The Bank has two subsidiary companies, namely HDFC Securities Ltd and HDB Financial Services Ltd.</p>
        <p>The Bank has three primary business segments, namely banking, wholesale banking and treasury. The retail banking segment serves retail customers through a branch network and other delivery channels. This segment raises deposits from customers and makes loans and provides other services with the help of specialist product groups to such customers. The wholesale banking segment provides loans, non-fund facilities and transaction services to corporate, public sector units, government bodies, financial institutions and medium-scale enterprises. The treasury segment includes net interest earnings on investments portfolio of the Bank.</p>
    </div>