@{
    ViewBag.Title = "Contact";
}
    <div>
        @{
            Html.RenderPartial("_TopNavBar");
        }
    </div>

    <div class="contact-container">
        <h2>@ViewBag.Title.</h2>
        

        <div class="address-container">
            <address>
                <h3>Address:</h3>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@hdfc.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@hdfc.com</a>
            </address>
        </div>
    </div>