@{
    ViewBag.Title = "Home Page";
}

<div class="home-index" >
    <h1>HDFC ONLINE BANKING</h1>
    <p >
        HDFC Bank is one of India’s leading private banks and was among the first to receive approval from the Reserve Bank of India (RBI) to set up a private sector bank in 1994.

    </p>
    <p>
        Today, HDFC Bank has a banking network of 5,345 branches and 14,533  ATMs spread across 2,787 cities and towns.
    </p>
    
</div>

<div class="home-index-container">
    <div class="home-item">
        <h2>Get Account Summary</h2>
        <p>
            An account statement is a periodic summary of account activity with a beginning date and an ending date.
            The most commonly known are checking account statements, usually provided monthly, 
            and brokerage account statements, which are provided monthly or quarterly.
        </p>
       
    </div>
    <div class="home-item">
        <h2>Get Transaction Details</h2>
        <p>To view details of a transaction, including the transaction history, click on the Transaction ID for any transaction returned by a transaction search or report. </p>
       
    </div>
    <div class="home-item">
        <h2>Transfer Funds</h2>
        <p>A Funds Transfer is a sequence of events that results in the movement of funds from the remitter to the beneficiary. It is also defined as the remittance of funds from one party to itself or to another party through the banking system.
        </p>
       
    </div>
</div>