
@{
    ViewBag.Title = "Welcome";
}

@if (Session["emailid"] != null)
{

    <h2 class="welcome-header">Welcome @Session["Name"]</h2>

}

<div>
    <p> @Html.ActionLink("Accounts", "Details", "Account", new { id = @Session["customerid"] },null)</p>
   
</div>



