* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin:0;
    padding:0;
}


h2 ,h4{
    text-align: center;
}



.layout-container {
    display: grid;
    grid-template-columns: 20% 80%;
    position: relative;
}

div.account-container{
    display:flex;
    flex-direction:column;
    margin:2rem auto;
    width:100%;
}

.form-container {
    width: 40%;
    
    display: flex;
    flex-direction: column;
    margin:auto;
 
}

.form-grid{
    width:90%;
    margin:1rem auto;
    display:grid;
    grid-template-columns:1fr 1fr;

}



.welcome-container {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}




h2.welcome-header {
    margin:0;
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-color: #d3e0eb;
}

.welcome-list {
    background-image: linear-gradient(to  bottom,rgba(15, 62, 215, 0.4),rgba(11, 228, 195, 0.5));
    width: 100%;
    height: 100vh;
    padding-top: 2rem;
    margin: 0;
    overflow:hidden;
}


.welcome-list-item {
    width: 100%;
    background-color: none;
    height: 5rem;
   margin-left:2rem;
    padding: 1rem;
    text-decoration: none;
    text-align: left;
    
}

    .welcome-list-item:hover {
        background-color: #3483eb;
        color:white !important;
    }
.welcome-links{
    color:black;
}
.welcome-links:link,
.welcome-links:active {
    width: 100%;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 1rem;
}

    .welcome-links:hover {
        color: white;
    }


    table {
        margin: 5rem auto;
        width: 80%;
    }

    table tr {
        height: 5rem;
        font-size: 2rem;
        font-weight: bold;
        padding: 1rem;
    }

        table tr:first-child {
            background-image: linear-gradient(to left,rgba(15, 62, 215, 0.4),rgba(11, 228, 195, 0.5));
            height: 5rem;
            font-size: 3rem;
            font-weight: bold;
            padding: 1rem;
        }

        table tr:last-child {
            height: 5rem;
            font-size: 1.5rem;
            background-color: #d3e0eb;
            font-weight: bold;
        }


.account-links{

}

.text-label,text-box-login{
    margin-left:5rem;
}


