* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    
}

.container-body {
    width: 100%;
}

.brand {
    font-size: medium;
    font-weight: bold;
    color: #0c4e87;
    margin-left:2rem;
}
.nav-container {
   
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: #6db4f2;
    color: white;
    justify-content:center;
    align-items:center;
}



.list-container{
    list-style:none;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    
}

.list-item {
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}


.home-index {
    width: 90%;
    margin: 2rem auto;
    border-radius:1rem;
    background-color: #d3e0eb;
    padding: 2rem;
}

.home-index-container{
    width:90%;
    margin:2rem auto;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:2rem;
}





.home-index, .home-item {
    border-radius: 1rem;
    background-color: #d3e0eb;
    padding: 2rem;
}

.about-container {
    width: 90%;
    margin: 1rem auto;
    background-color: #d3e0eb;
    padding:2rem;
    
}

.about-container h2{
    text-align:center;
    font-size:3rem;
}

.about-container p{
    margin:1rem;
    font-size:1.5rem;
    

}

.contact-container{
    width:90%;
    margin:2rem auto;
}

.contact-container h2{
    text-align:center;
}

.address-container{
    display:grid;
    grid-template-columns:1fr 1fr;
    text-align:center;
    grid-column-gap:3rem;
    margin:2rem;
}

address {
    margin-top: 1rem;
    background-color: #d3e0eb;
    padding:1rem;
    border-radius:1rem;

}


footer{
    text-align:center;
}
