

.error-text{
    color:red;
    font-size:large;
    font-weight:bold;

}




.btn-container{
    margin:1rem 3rem;
    width:50%;
    height:30px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:2rem;
    justify-content:center;
    align-items:center;

}



.text-box-login{
    width:70%;
    height:4rem;
    margin:1rem auto;
    

}

.text-label{
    width:70%;
    line-height:20px;
    margin:1rem;

}




