*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    width:100%;
}

.error-text{
    color:red;
    font-size:large;
    font-weight:bold;

}

.form-container{
    width:50%;
    margin:3rem auto;
    padding:2rem;
    border:2px solid black;
}

.btn-container{
    margin-top:1rem;
    width:30%;
    height:30px;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:2rem;
    justify-content:center;
    align-items:center;

}

.btn-login-page {
    width: 85px;
    height: 35px;
    background-color: #d6d6d4;
   
}

.btn-reset-page {
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 10px;
    width: 75px;
    height: 25px;
    background-color: #d6d6d4;
    border: 2px solid black;
    
}

.text-box-login{
    width:70%;
    height:4rem;
    margin:1rem auto;
    

}

.text-label{
    width:70%;
    line-height:20px;
    margin:10px;

}

.welcome-container{
    display:grid;
    width:100%;
    grid-template-columns:20% 80%;
    grid-column-gap:0;

}




.welcome-header {
    margin: auto;
    padding: 1rem;
    text-align: center;
    width: 90%;
    background-color: #d3e0eb;
}

 .welcome-list {
   
    background-color:aqua;
    width: 90%;
    margin-right:1rem;
    height:300px;
}


.welcome-list-item {
    width:100%;
    background-color: #d3e0eb;
    height: 4rem;
    margin: 1rem 1rem 1rem 0;
    padding: 1rem;
    text-decoration: none;
}


.welcome-links{
    text-decoration:none;
        color:black;
        font-size:2rem;


}


