* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size:62.5%;
}

body {
    margin:0;
    padding:0;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

div.form-container {
    width: 50%;
    margin: 3rem auto;
    padding: 2rem;
    border: none
}

.welcome-header {
    margin: 0
}





@media (max-width:750px){

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin: 0.8rem;
    }

    h2 {
        text-align: center;
        font-size: 2rem;
        margin: 0.8rem;
    }

    h3 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0.8rem;
    }

    p {
        margin: 0.8rem;
        font-size: 1.3rem;
    }
    .home-index-container {
        width: 90%;
        margin: 2rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-column-gap: 2rem;
        grid-row-gap:2rem;
    }

    .home-index-container div{
        width:100%;
    }

    .home-index-container div.home-item:last-child{
        grid-column:1/4;
        
    }

    

    .btn-container {
        margin: 1rem 2rem;
        width: 50%;
        grid-column-gap: 1rem;
    }

    .text-box-login {
        width: 90%;
        height: 4rem;
        margin: 1rem auto;
    }

    .welcome-header {
        margin:0
    }

   

    dl {
        
        width: 90%;
        margin: 3rem ;
        
    }

    dt {
        width: 90%;
        
        height: 5rem;
        font-size: 1.5rem;
        
      
    }

    dd {
        width: 90%;
        font-size: 1.5rem;
        height: 5rem;
        overflow: hidden;
    }

 

}
