body{margin:0;}

@media (max-width:750px) {
    .form-grid {
        width:90%;
        grid-template-columns: 1fr;
    }

    .text-login-box {
        width: 100%;
        margin-bottom: 1rem
    }
    .text-label {
        width: 100%;
        margin-bottom: 1rem;
    }

    table tr {
        height: 5rem;
        font-size: 1.5rem;
    }


   

    table tr:first-child {
       
        height: 6rem;
        font-size: 2rem;
    }

        table tr:last-child {
            height: 4.5rem;
            font-size: 1.5rem;
            background-color: #d3e0eb;
            font-weight: normal;
        }

}


@media (max-width:420px) {
    .welcome-list {
        height: 25rem; 
    }


    .welcome-list-item {
        height: 6rem;
        margin: 1rem auto;
    }

    .welcome-links:link,
    .welcome-links:active {
        font-size: 1.5rem;  
    }

    .text-login-box {
       
        margin-bottom: 1rem
    }

    .text-label {
        
        margin-bottom: 1rem;
    }
  

  
}




