
.statement-container {
    width: 80%;
    margin: 1rem auto;
    padding: 2rem;
   
}

ul{
    list-style:none;
}
.credit {
    background-color: #88f28b;
    padding:1rem;
    text-align:center;
}

.debit {
    background-color: #ff8a82;
    padding: 1rem;
    text-align: center;
}