*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.welcome-container {
    width: 100%;
    display:flex;
    flex-direction:column-reverse;
}




.welcome-header {
  
    padding: 1rem;
    text-align: center;
    width: 100%;
    background-color: #d3e0eb;
}

.welcome-list {
   
    background-color: #6db4f2;
    width: 50%;
    height: 250px;
    padding: 1rem;
    margin: 2rem auto;
}


.welcome-list-item {
    width: 90%;
    background-color: #d3e0eb;
    height: 5rem;
    margin: 2rem auto;
    padding: 1rem;
    text-decoration: none;
    text-align:center;
    
}

    .welcome-list-item:hover {
        color: white !important;
        border: 2px solid #275eb8  ;
    }


.welcome-links:link,
.welcome-links:active{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding:1rem;
}



