@model onlinebanking.Models.Statements

@{
    ViewBag.Title = "Statement";
}

<h2>Statement @Session["Accountno"]</h2>

@Html.ActionLink("Go to Accounts", "Details", "Account", new { id = Session["customerid"] },
     new { @class = "btn btn-primary", @style = "margin:1rem 0 1rem 1rem" })
@Html.ActionLink("LOG OUT", "Logout", "Login", null, new { @class = "btn btn-primary" })
@foreach (var listItem in Model.statementList)
{


    <div class="statement-container">
        @if (Convert.ToInt64(listItem.CreditAccount) != Convert.ToInt64(Session["Accountno"]))
        {
            <ul class="debit">
                <li>Debit Details</li>
                <li>Transaction Id:@Html.DisplayFor(item => listItem.Id)</li>
                <li>Paid To:@Html.DisplayFor(item => listItem.CreditAccount)</li>
                <li>Debit Amount:@Html.DisplayFor(item => listItem.DebitAmount)</li>
                <li>Balance:@Html.DisplayFor(item => listItem.DebitAccountBalance)</li>
                <li>Date:@Html.DisplayFor(item => listItem.DebitDate)</li>

            </ul>

        }


        else if (Convert.ToInt64(listItem.CreditAccount) == Convert.ToInt64(Session["Accountno"]))
        {
            <ul class="credit">
                <li>Credit Details</li>
                <li>Transaction Id:@Html.DisplayFor(item => listItem.IdCredit)</li>
                <li>Paid By:@Html.DisplayFor(item => listItem.DebitAccount)</li>

                <li>Credit Amount:@Html.DisplayFor(item => listItem.CreditAmount)</li>
                <li>Balance:@Html.DisplayFor(item => listItem.CreditAccountBalance)</li>
                <li>Date:@Html.DisplayFor(item => listItem.CreditDate)</li>

            </ul>
        }


    </div>





}

